:root {
  --search-box-input: #A8ABAF;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}


/* Navbar */

.nav-bar {
  background-color: #242526;
  /* background-color: #828588; */
  height: 3.5em;
}

.nav-bar__nav-left {
  padding-top: .5em;
}

.nav-bar__nav-left__icon-fb>img {
  height: 40px;
  width: 40px;
}

.nav-bar__nav-left__search-box {
  position: relative;
}

.nav-bar__nav-left__search-box>input {
  border-radius: 20px;
  padding: 1.25em 2em;
  background-color: #3A3B3C;
  border: 0;
  color: var(--search-box-input);
}

.nav-bar__nav-left__search-box::before {
  content: '\f002';
  font-family: FontAwesome;
  width: 1em;
  color: var(--search-box-input);
  position: absolute;
  z-index: 10;
  top: .5em;
  left: .8em;
}

/* Navbar-center */

.nav-bar__nav-center {
  margin: 0;
}

.nav-bar__nav-center__list-menu {
  display: flex;
  justify-content: center;
  /* height: 85%; */
}

.nav-bar__nav-center > ul li {
  list-style: none;
  background-color: #242526;
  padding: .5em 2.25em;
}

.nav-bar__nav-center>ul li:hover {
  background: rgb(61, 58, 58);
  border-bottom: 3px solid #007BFF;
}

/* Navbar-right */

.nav-bar__nav-right__list-items {
  display: flex;
  justify-content: flex-end;
}

.nav-bar__nav-right__list-items {
  list-style: none;
  padding-right: 2em;
  margin-top: .2em;
}

.nav-bar__nav-right__list-items li:not(:first-child) {
  width: 2.7em;
  height: 2.7em;
  background: grey;
  border-radius: 50%;
}

.nav-bar__nav-left, .nav-bar__nav-center, .nav-bar__nav-right {
  border: 1px solid tomato;
}